*.swp

*.mod
*.o
*.a

makefile
compiler.out
couette.f
couette.map
couette.re2
couette.rea
couette.sch
inicouette*
obj/
nek5000

SESSION.NAME
log*

couette0.*
adjcouette0.*
divcouette0.*
stfcouette0.*
field*
